@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-impacta: #7A6CB7;
  --color-impacta-wh: #fff;
  --color-impacta-faded: rgba(122, 108, 183, .2);
  --color-impacta-wh-faded: rgba(255, 255, 255, .2);
}

.imagen-completa {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.imagen-completa img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.imagen-completa img.active-slide {
  opacity: 1;
}